.cart {
    text-align: center;
}

.cart_wrp {
    text-align: left;
}

.cart__tittle,
.catalog__tittle {
    font-family: arial, sans-serif;
}

.catalog {
    text-align: center;
}

.item_wrp {
    display: flex;
    justify-content: space-around;
}

.item {
    margin: 10px 0 10px 0;
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.25);
}

.item__txt,
.item__price,
.cart_wrp {
    font-size: 30px;
    margin: 5px 0 5px 5px;
    font-family: arial, sans-serif;
}

.item__btn {
    border: none;
    padding: 5px 40px;
    font-family: arial, sans-serif;
    background-color: rgb(212, 202, 202);
    margin-bottom: 5px;
}

